<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script th:src="@{webjars/popper.js/1.14.6/umd/popper.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <title>Defense Timetabling Application</title>
</head>
<body>
<div class="container-fluid">
<div th:replace="${view} :: content">Page Content</div>
</div>
</body>
</html>